.block_nav{
    &_name {
        font-family: Intro;
        font-size: 24px;
        color: #fff;
        justify-content: space-between;
        display: flex;
        flex-wrap: nowrap;
    }
    
    &_next{
        width: 19px;
        transition-timing-function: ease;
        transition-duration: .6s;
    }
    
    &_img {
        img {
            width: 40px;
            margin-right: 40px;
        }
    }
    
    &_card {
        display: flex;
        flex-direction: row;
        border-top: 1px solid #000;
        justify-content: flex-start;
        flex-wrap: nowrap;
        &_title {
            color: #000;
            font-family: Intro;
            font-size: 24px;
        }
        
    }
}

.card-header {
    background-color: #a80d26;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;

}

.block_nav_name:not(.collapsed) .block_nav_next {
    transform: rotate(90deg);
}

.contacts {
    font-family: Intro;
    &_time {
        margin: 50px 0 50px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        &_wrap {
            width: 40%;
            margin: 0 15px 15px 25px; 
            @media (max-width:414px) {
                width: 100%;
            }
            &_sm {
                font-size: 13px;
            }
            
            &_bg {
                font-weight: bold;
            }
        }
    }
    
    &_numbers {
        margin: 40px 0px 20px 40px;
        display: flex;
        flex-direction: column;
        @media (max-width:350px) {
            margin: 40px 0px 20px 15px;
        }
        &_wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            align-content: center;
            margin-right: 15px;
            
            &_text{
                color: #a80d26;
                font-size: 22px;
                @media (max-width:400px) {
                    font-size:19px;
                }
            }
            
            &_num {
                color: #000;
                font-size: 30px;
                @media (max-width:400px) {
                    font-size: 23px;
                }
            }
        }
    }
}

.color_red {
    color: #a80d26;
    
}