.header_str1 {
    background-color: #101418;
    min-height: 40px;
    font-family: Intro;
    &_text {
        color: #a80d26;
        font-size: 11px;
        width: auto;
    }
    
    &_number {
        font-size: 16px;
        color: #fff;
        width: auto;
    }
} 

.header {
    &_block1 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        white-space: nowrap;
        min-height: 40px;
    }
    
    &_block2 { 
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }
}

.col-6 {
    @media (max-width:480px) {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

.nots {
    font-family: Intro;
    &_wrap {
        width: max-content;
        float: right;
        position: relative;
    }
    
    &_img {
        width: 35px;
        height: 30px;
    }
    
    &_num {
        width: 23px;
        height: 23px;
        background-color: #a80d26;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        font-size: 13px;
        position: absolute;
        top: 25px;
        left: -10px;
        line-height:23px;
    }
}

.header_string2 {
    min-height: 90px;
}

.d_f {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    @media (max-width:767px) {
        flex-direction: column;
    }
}

.menu_burger {
    &_line {
        height: 5px;
        width: 50px;
        border-radius: 18px;
        background-color: #101418;
        margin-bottom: 12px;
    }
}

.logo {
    text-align: center;
    img {
        @media (max-width:440px) {
            width: 140px;
        }
    }
}
